     body {
    background-image:url("images/beach.jpg ")
}
     h1 {
    color:#FFFFFF;
    font-size: 40px;
}
     h2 {
    color:#FFFFFF;
    font-size: 32px;
}
     p1 {
    color:#FFFFFF;
    font-size: 28px;
}
    p {
    color: white;
    font-size: 28px;
}
     a:link{
    color:#FFFFFF
}
     a:visited{
    color:#F0FF35
}
     a:hover{
    color:#34495E
}
     a:active{
    color:#455A64
}
     ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#263238;
    position: fixed;
    top: 0;
    width: 100%;  
} 
     li {
    float: left;
    border-right: 1 px solid #dddddd
}
     li:last-child {
    border-right: none;
}
     a {
    display: block;
    padding: 8px;
    background-color: #263238;
}